---
export const prerender = false;

import LevelTopicalsLayout from "../../../layouts/LevelTopicalsLayout.astro";
import BackButton from "../../../components/BackButton.astro";
import { getPaperIndex } from "../../../utils/paperIndex";

const { board, subject } = Astro.params;

let years: string[] = [];

try {
  const index = await getPaperIndex();

  years = Object.keys(index?.[board!]?.[subject!]?.years ?? {});
} catch (err) {
  console.error("Failed to fetch years:", err);
}

// export const getStaticPaths = async () => {
//   const index = await getPaperIndex();

//   const paths = [];

//   for (const board in index) {
//     for (const subject in index[board]) {
//       paths.push({
//         params: {
//           board,
//           subject,
//         },
//       });
//     }
//   }

//   return paths;
// };

const realSubjectName =
  (await getPaperIndex())?.[board!]?.[subject!]?.name ??
  subject!.replace(/-/g, " ");
---

<LevelTopicalsLayout
  title={`Available years for ${realSubjectName} | Paper Guides`}
  description={`Explore the years available for ${realSubjectName}. Find past papers and resources.`}
>
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-semibold">
      Available <span class="text-[var(--blue-highlight)]">Years</span> for {realSubjectName}
    </h1>
    <BackButton />
  </div>

  <div class="animate-fade-in space-y-4">
    {years.length > 0 ? (
      years.map((year) => (
        <a
          href={`/subjects/${board}/${subject}/${year}`}
          class="border border-[var(--blue-highlight)] block p-4 rounded-xl w-full text-xl font-bold bg-[var(--color-nav)] text-[var(--font-color)] shadow-xl hover:scale-[1.01] hover:shadow-xl transition-all duration-200"
        >
          {year}
        </a>
      ))
    ) : (
      <p class="opacity-60">No years found for this subject.</p>
    )}
  </div>
</LevelTopicalsLayout>